footer.footer
  .container
    .row
      .col.md-3: .footer__about
        img(src="../assets/images/logo_light.svg")
        p Angro.md - первая оптовая база, предлагающая  широкий ассортимент качественных непродовольственных товаров из Китая, Турции, Таиланда и Дубая.
      .col.xs-6.md-2
        h4 Компания
        ul.footer__nav
          li: a(href="") О нас
          li: a(href="") Как купить
          li: a(href="") Доставка
          li: a(href="") Контакты
          li: a(href="") FAQ
      .col.xs-6.md-3
        h4 Контакты
        ul.footer__nav
          li +37379818686
          li angro@gmail.com
          li str. Uzinelor 100/1,<br>mun. Chişinău
        ul.footer__social
          li: a(href=""): +icon("facebook")
          li: a(href=""): +icon("viber")
          li: a(href=""): +icon("instagram")
          li: a(href=""): +icon("whatsapp")
      .col.md-4
        .footer__map: #google-map
.production.bg-secondary.text-white.text-sm.py-3
  .container.flex.items-center.justify-center
    .mr-2 Creat de compania
    img.h-6.w-auto(src="../assets/images/minicode.svg")
