nav#menu
  ul#panel-menu
    li
      a(href="#") Одежда для детей
      ul
        li
          a(href="#") Одежда для новорожденных
          ul
            li: a(href="#") Костюмы
            li: a(href="#") Боди
            li: a(href="#") Столовые сервизы
            li: a(href="#") Комбинезоны
            li: a(href="#") Пледы
        li
          a(href="#") Одежда для девочек
          ul
            li: a(href="#") Костюмы
            li: a(href="#") Джинсы
            li: a(href="#") Свитера и кардиганы
            li: a(href="#") Платья и юбки
            li: a(href="#") Куртки
            li: a(href="#") Жилетки
        li
          a(href="#") Одежда для мальчиков
          ul
            li: a(href="#") Костюмы
            li: a(href="#") Брюки и шорты
            li: a(href="#") Свитера и кардиганы
            li: a(href="#") Куртки
            li: a(href="#") Жилетки
            li: a(href="#") Футболки и рубашки
    li
      a(href="#") Все для кухни
      ul
        li
          a(href="#") Посуда для сервировки
          ul
            li: a(href="#") Наборы для специй
            li: a(href="#") Вазы для фруктов
            li: a(href="#") Столовые сервизы
            li: a(href="#") Чайные сервизы
            li: a(href="#") Подносы
            li: a(href="#") Графины
            li: a(href="#") Посуда для мороженого
            li: a(href="#") Салфетницы
        li
          a(href="#") Столовая посуда
          ul
            li: a(href="#") Столовые приборы
            li: a(href="#") Наборы стаканов
            li: a(href="#") Тарелки
            li: a(href="#") Кружки
            li: a(href="#") Пиалы
        li
          a(href="#") Хранение
          ul
            li: a(href="#") Контейнеры
            li: a(href="#") Корзины
            li: a(href="#") Сахарницы
            li: a(href="#") Термосы
            li: a(href="#") Подставки для столовых приборов
        li
          a(href="#") Принадлежности для выпечки
          ul
            li: a(href="#") Посуда для запекания
            li: a(href="#") Формы для выпечки
        li
          a(href="#") Кухонная утварь
          ul
            li: a(href="#") Разделочные доски
            li: a(href="#") Терки
            li: a(href="#") Аксессуары
        li: a(href="#") Гриль
    li
      a(href="#") Все для дома
      ul
        li
          a(href="#") Спальня
          ul
            li: a(href="#") Постельное белье
            li: a(href="#") Детское постельное белье
            li: a(href="#") Простыни
            li: a(href="#") Одеяла
            li: a(href="#") Покрывала
            li: a(href="#") Подушки
            li: a(href="#") Пледы
        li
          a(href="#") Ванная комната
          ul
            li: a(href="#") Полотенца
            li: a(href="#") Халаты
            li: a(href="#") Коврики
        li
          a(href="#") Декор
          ul
            li: a(href="#") Сувениры
            li: a(href="#") Фото рамки
            li: a(href="#") Вазы для цветов
            li: a(href="#") Подсвечники
            li: a(href="#") Скатерть
            li: a(href="#") Люстры
        li
          a(href="#") Освещение
          ul
            li: a(href="#") Люстры
        li
          a(href="#") Другое
          ul
            li: a(href="#") Хранение
            li: a(href="#") Уборка
            li: a(href="#") Ведра для мусора
            li: a(href="#") Чехлы-накидки на мягкую мебель
    li
      a(href="#") Игрушки для детей
      ul
        li: a(href="#") Пазлы
        li: a(href="#") Настольные игры
        li: a(href="#") Конструкторы
        li: a(href="#") Для мальчиков
        li: a(href="#") Для девочек
        li: a(href="#") Мягкие игрушки
